svg {
  background: linear-gradient(to right, white, rgb(0, 153, 251) 15%);
  position: absolute;
  /* padding: 1%; */
}

.corona {
  fill: url('#corona')
}

.core {
  fill: url('#core')
}

.bar {
  fill: url("#sunbeam");
  stroke: white;
  transition: fill 2s ease-in-out;
}

.label {
  font-size: 16px;
}

.axis {
  font-size: 14px;
}

.chartTitle {
  font-size: 1.2em;
  text-decoration: underline;
}
